In [15]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [16]:
#reading csv file having prices of houses with multiple parameters
df = pd.read_csv("E:/CodeBasics Machine Learning/2. Home price prediction using Multivariate Linear Regression/homepricewithmultipleparameters.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [17]:
#As we can see above there is a empty value so will fill it with median
median_bedrooms = df.bedrooms.median()

In [18]:
#fill the medians in table
df.bedrooms.fillna(median_bedrooms)

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [19]:
#filling the datafram
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [20]:
#Now feeding in the values to Linear Regression Model
reg = linear_model.LinearRegression()
reg.fit(df[["area","age","bedrooms"]],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [26]:
#Now predicting it for area = 3000, age = 40, bedrooms = 3
reg.predict([[3000,40,4]])

array([ 521797.13165825])